.checkbox-toggle {
  width: 362px;
  padding: 1em;
  text-align: center;
  cursor: pointer;
  background-color: skyblue;
}

/* チェックボックス */
.checkboxes {
  display: flex;
  flex-direction: column;
  width: 360px;
  padding: 1em;
  border: 1px solid skyblue;
  display: none;
}

th {
  min-width: 100px;
}

th.outer {
  height: 80px;
  min-width: 100px;
  min-width: 100px;
}


/*TODO 表が画面からはみ出たときにスクロールできるようにする*/

#gyouretu {
  overflow-x: scroll;
  max-width: 80%;
}


.inner_IC,
.inner_WORK,
.inner_R {
  max-width: 80px;
  min-width: 80px;
  display: none;
}