.checkbox-toggle {
  width: 362px;
  padding: 1em;
  text-align: center;
  cursor: pointer;
  background-color: rgb(105, 189, 223);
}

/* チェックボックス */
.checkboxes {
  display: flex;
  flex-direction: column;
  width: 360px;
  padding: 1em;
  border: 1px solid skyblue;
  display: none;
}

th {
  min-width: 100px;
  text-align: center;
}

td {
  text-align: center;
}

th.outer {
  height: 80px;
  min-width: 100px;
  min-width: 100px;
}


/*TODO 表が画面からはみ出たときにスクロールできるようにする*/

#gyouretu {
  overflow-x: scroll;
  max-width: 80%;
}

[class ^= "inner_"]{
display: none;
}

th.inner_IC{
  background-color: #9dcdd7f0;
}
th.inner_WORK{
  background-color: #9dcdd7f0;
}
th.inner_R {
  background-color: #9dcdd7f0;
  max-width: 40px;
  min-width: 40px;
}

/*btのデザイン*/
#bt {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #668ad8;
  /*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}

#bt:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  /*下に動く*/
  border-bottom: none;
  /*線を消す*/
}

/*1行毎の色の変化*/
table td {
  background: #eee;
}

table tr:nth-child(odd) td {
  background: #fff;
}

/*TODO 検査項目のOKの部分は　spanタグ、OKクラスで囲む*/
span.OK {
  /*font-size: 10em;*/
  color: rgb(107, 175, 40);
}

/*TODO 強調させる方法を考える。文字の大きさを、テーブルのサイズに合わせる*/
span.NG {
  /*font-size: 10em;*/
  color: red;
}

/*抵抗のレイアウトを考える*/